ALLOWED_CLIENT_ORIGINS= # comma separated list of allowed clients (CORS)
TURNSTILE_SECRET_KEY= # Cloudflare Turnstile secret key, leave empty to disable
TRUSTED_PROXIES= # Comma separated list of trusted proxy IPs/subnets. you can use the `cf` shorthand to trust all cloudflare IPs
